In [1]:
import numpy as np
import pandas as pd
import catboost as cat
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
 
pd.set_option('precision', 5)
pd.set_option('display.float_format', lambda x: '%.5f' % x) 
pd.options.display.max_rows = 200

In [2]:
train_df = pd.read_csv('./join_train_data_1030.csv')
test_df = pd.read_csv('./join_test_data_1030.csv')
print(train_df.shape)
print(test_df.shape)

(4198717, 22)
(192000, 21)

In [3]:
train_df.drop(train_df[train_df['latitude_req'].isnull().values==True].index, inplace=True)
train_df.isnull().sum()

poi_id                   0
request_id               0
pos                      0
time                     0
action                   0
uuid                     0
request_cate_id          0
request_time             0
latitude_req             0
longitude_req            0
device_type           1656
gender              317910
age                1582700
job                      0
cate_level1              0
cate_level2              0
cate_level3              0
area_id                  0
avg_price              230
poi_star              1441
longitude_poi            0
latitude_poi             0
dtype: int64

In [4]:
def geodistance(lat_req, lng_req, lat_poi, lng_poi):
    dlon = lng_req - lng_poi
    dlat = lat_req - lat_poi
    a = np.sin(dlat / 2) ** 2 + np.cos(lat_req) * np.cos(lat_poi) * np.sin(dlon / 2) ** 2
    distance = 2 * np.arcsin(np.sqrt(a)) * 6371 * 1000 # 地球平均半径，6371km
    distance = round(distance / 1000, 3)
    return distance

train_df['distance'] = geodistance(train_df['latitude_req'], train_df['longitude_req'], train_df['latitude_poi'], train_df['longitude_poi'])

In [5]:
print(train_df.shape)
train_df.describe(include='all')

(4084229, 23)

,poi_id,request_id,pos,time,action,uuid,request_cate_id,request_time,latitude_req,longitude_req,...,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_poi,latitude_poi,distance
count,4084229.00000,4084229.00000,4084229.00000,4084229,4084229.00000,4084229.00000,4084229.00000,4084229,4084229.00000,4084229.00000,...,4084229.00000,4084229.00000,4084229.00000,4084229.00000,4084229.00000,4083999.00000,4082788.00000,4084229.00000,4084229.00000,4084229.00000
unique,nan,nan,nan,22,nan,nan,nan,83540,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
top,nan,nan,nan,2019-05-09,nan,nan,nan,18:09:46,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
freq,nan,nan,nan,234552,nan,nan,nan,190,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
mean,9263368834749046784.00000,9225273182179012608.00000,21.14924,NaN,0.02206,9226826470747373568.00000,141.89224,NaN,31.38623,113.37460,...,1.83516,225.88114,470.24831,1079.40207,13402.06174,81.12429,44.32228,113.38340,31.38107,805.98000
std,5297128961152608256.00000,5323585103077890048.00000,35.31436,NaN,0.14687,5324229550683125760.00000,8462.79463,NaN,6.26835,7.10072,...,1.00699,6.61876,682.16487,977.55815,10982.30053,290.18962,6.84505,6.91954,6.25240,1986.41766
min,736732185668514.00000,6427683153551.00000,1.00000,NaN,0.00000,1568445154080.00000,1.00000,NaN,-46.37095,-124.04854,...,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,75.15138,0.83036,0.00600
25%,4711116669438944256.00000,4619597329051457536.00000,3.00000,NaN,0.00000,4619358645950456832.00000,1.00000,NaN,27.38022,110.72561,...,1.00000,226.00000,201.00000,153.00000,4793.00000,42.00000,40.00000,110.77155,27.38200,76.83400
50%,9280717914504259584.00000,9225329840154775552.00000,8.00000,NaN,0.00000,9228463794754764800.00000,1.00000,NaN,30.84668,113.57921,...,1.00000,226.00000,229.00000,383.00000,13325.00000,67.00000,46.00000,113.57769,30.84059,187.59700
75%,13846860483431372800.00000,13834059611531036672.00000,28.00000,NaN,0.00000,13833390155377549312.00000,1.00000,NaN,35.82945,118.53784,...,3.00000,226.00000,315.00000,2032.00000,19553.00000,89.00000,50.00000,118.53264,35.76437,542.13000
max,18446645066501654528.00000,18446741896482721792.00000,3712.00000,NaN,1.00000,18446742462670256128.00000,8389617.00000,NaN,61.61060,174.80572,...,3.00000,1853.00000,2413.00000,2548.00000,80019.00000,109353.00000,50.00000,130.34367,50.79686,19968.79500

In [6]:
train_target = train_df['action']
train_target.value_counts()

0    3994144
1      90085
Name: action, dtype: int64

In [ ]:
train_df.drop(['action'], axis = 1, inplace=True)

In [7]:
test_id = test_df['ID']
test_df.drop(['ID'], axis = 1, inplace=True)

In [10]:
train_df.drop(['pos'], axis = 1, inplace=True)
print(train_df.shape)
train_df.describe()

(4084229, 21)

,poi_id,request_id,uuid,request_cate_id,latitude_req,longitude_req,gender,age,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_poi,latitude_poi,distance
count,4084229.00000,4084229.00000,4084229.00000,4084229.00000,4084229.00000,4084229.00000,3766319.00000,2501529.00000,4084229.00000,4084229.00000,4084229.00000,4084229.00000,4084229.00000,4083999.00000,4082788.00000,4084229.00000,4084229.00000,4084229.00000
mean,9263368834749046784.00000,9225273182179012608.00000,9226826470747373568.00000,141.89224,31.38623,113.37460,0.39509,28.05078,1.83516,225.88114,470.24831,1079.40207,13402.06174,81.12429,44.32228,113.38340,31.38107,805.98000
std,5297128961152608256.00000,5323585103077890048.00000,5324229550683125760.00000,8462.79463,6.26835,7.10072,0.48887,7.42726,1.00699,6.61876,682.16487,977.55815,10982.30053,290.18962,6.84505,6.91954,6.25240,1986.41766
min,736732185668514.00000,6427683153551.00000,1568445154080.00000,1.00000,-46.37095,-124.04854,0.00000,15.00000,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,75.15138,0.83036,0.00600
25%,4711116669438944256.00000,4619597329051457536.00000,4619358645950456832.00000,1.00000,27.38022,110.72561,0.00000,22.00000,1.00000,226.00000,201.00000,153.00000,4793.00000,42.00000,40.00000,110.77155,27.38200,76.83400
50%,9280717914504259584.00000,9225329840154775552.00000,9228463794754764800.00000,1.00000,30.84668,113.57921,0.00000,27.00000,1.00000,226.00000,229.00000,383.00000,13325.00000,67.00000,46.00000,113.57769,30.84059,187.59700
75%,13846860483431372800.00000,13834059611531036672.00000,13833390155377549312.00000,1.00000,35.82945,118.53784,1.00000,32.00000,3.00000,226.00000,315.00000,2032.00000,19553.00000,89.00000,50.00000,118.53264,35.76437,542.13000
max,18446645066501654528.00000,18446741896482721792.00000,18446742462670256128.00000,8389617.00000,61.61060,174.80572,1.00000,68.00000,3.00000,1853.00000,2413.00000,2548.00000,80019.00000,109353.00000,50.00000,130.34367,50.79686,19968.79500

In [11]:
print(test_df.shape)
test_df.describe()

(192000, 20)

,poi_id,request_id,uuid,request_cate_id,latitude_req,longitude_req,gender,age,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_poi,latitude_poi
count,192000.00000,192000.00000,191997.00000,191997.00000,186971.00000,186971.00000,177738.00000,119496.00000,191997.00000,192000.00000,192000.00000,192000.00000,192000.00000,191993.00000,191916.00000,192000.00000,192000.00000
mean,9264012196760377344.00000,9227012351313641472.00000,9228547745081667584.00000,297.28510,31.29658,113.52134,0.41648,27.32943,1.82684,225.92268,443.81416,1088.54853,13388.74947,80.26317,44.37211,113.52783,31.29958
std,5268318366026227712.00000,5330354692299018240.00000,5326838760505930752.00000,38324.72048,6.37037,7.17691,0.49298,7.13652,0.99297,12.69359,651.78327,975.51403,10943.51506,246.80755,6.48042,6.83354,6.34942
min,1015769069232803.00000,1746252198753.00000,46993148784627.00000,1.00000,-40.61593,-123.27593,0.00000,15.00000,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,75.15370,17.76474
25%,4781846136635040768.00000,4604571799849832448.00000,4606576224788310016.00000,1.00000,26.42698,111.61280,0.00000,22.00000,1.00000,226.00000,201.00000,153.00000,4804.00000,45.00000,40.00000,111.59408,26.42478
50%,9282795332024958976.00000,9238522345506439168.00000,9247145681530705920.00000,1.00000,30.82624,113.56936,0.00000,26.00000,1.00000,226.00000,229.00000,383.00000,13305.00000,68.00000,46.00000,113.54299,30.82119
75%,13781640347474020352.00000,13854574578587185152.00000,13847680929835655168.00000,1.00000,35.94066,118.52135,1.00000,31.00000,3.00000,226.00000,315.00000,2032.00000,19455.00000,89.00000,50.00000,118.50223,35.93822
max,18446645066501654528.00000,18446480806651654144.00000,18446722357560956928.00000,8389617.00000,59.48340,150.38660,1.00000,68.00000,3.00000,1853.00000,2413.00000,2547.00000,37662.00000,19415.00000,50.00000,130.34367,49.14874

In [12]:
test_df.fillna(value={'latitude_req': 31.29658, 'longitude_req': 113.52134}, inplace=True)
test_df.isnull().sum()

poi_id                 0
request_id             0
time                   0
uuid                   3
request_cate_id        3
request_time           3
latitude_req           0
longitude_req          0
device_type           86
gender             14262
age                72504
job                    3
cate_level1            0
cate_level2            0
cate_level3            0
area_id                0
avg_price              7
poi_star              84
longitude_poi          0
latitude_poi           0
dtype: int64

In [13]:
test_df['distance'] = geodistance(test_df['latitude_req'], test_df['longitude_req'], test_df['latitude_poi'], test_df['longitude_poi'])

In [14]:
train_df.describe(include = 'all')

,poi_id,request_id,time,uuid,request_cate_id,request_time,latitude_req,longitude_req,device_type,gender,...,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_poi,latitude_poi,distance
count,4084229.00000,4084229.00000,4084229,4084229.00000,4084229.00000,4084229,4084229.00000,4084229.00000,4082573,3766319.00000,...,4084229.00000,4084229.00000,4084229.00000,4084229.00000,4084229.00000,4083999.00000,4082788.00000,4084229.00000,4084229.00000,4084229.00000
unique,nan,nan,22,nan,nan,83540,nan,nan,18,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
top,nan,nan,2019-05-09,nan,nan,18:09:46,nan,nan,ANDROID,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
freq,nan,nan,234552,nan,nan,190,nan,nan,2397828,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
mean,9263368834749046784.00000,9225273182179012608.00000,NaN,9226826470747373568.00000,141.89224,NaN,31.38623,113.37460,NaN,0.39509,...,1.83516,225.88114,470.24831,1079.40207,13402.06174,81.12429,44.32228,113.38340,31.38107,805.98000
std,5297128961152608256.00000,5323585103077890048.00000,NaN,5324229550683125760.00000,8462.79463,NaN,6.26835,7.10072,NaN,0.48887,...,1.00699,6.61876,682.16487,977.55815,10982.30053,290.18962,6.84505,6.91954,6.25240,1986.41766
min,736732185668514.00000,6427683153551.00000,NaN,1568445154080.00000,1.00000,NaN,-46.37095,-124.04854,NaN,0.00000,...,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,75.15138,0.83036,0.00600
25%,4711116669438944256.00000,4619597329051457536.00000,NaN,4619358645950456832.00000,1.00000,NaN,27.38022,110.72561,NaN,0.00000,...,1.00000,226.00000,201.00000,153.00000,4793.00000,42.00000,40.00000,110.77155,27.38200,76.83400
50%,9280717914504259584.00000,9225329840154775552.00000,NaN,9228463794754764800.00000,1.00000,NaN,30.84668,113.57921,NaN,0.00000,...,1.00000,226.00000,229.00000,383.00000,13325.00000,67.00000,46.00000,113.57769,30.84059,187.59700
75%,13846860483431372800.00000,13834059611531036672.00000,NaN,13833390155377549312.00000,1.00000,NaN,35.82945,118.53784,NaN,1.00000,...,3.00000,226.00000,315.00000,2032.00000,19553.00000,89.00000,50.00000,118.53264,35.76437,542.13000
max,18446645066501654528.00000,18446741896482721792.00000,NaN,18446742462670256128.00000,8389617.00000,NaN,61.61060,174.80572,NaN,1.00000,...,3.00000,1853.00000,2413.00000,2548.00000,80019.00000,109353.00000,50.00000,130.34367,50.79686,19968.79500

In [15]:
train_df.drop(['request_id', 'uuid', 'poi_id'], axis = 1, inplace=True)
print(train_df.shape)

(4084229, 18)

In [16]:
test_df.describe(include = 'all')

,poi_id,request_id,time,uuid,request_cate_id,request_time,latitude_req,longitude_req,device_type,gender,...,job,cate_level1,cate_level2,cate_level3,area_id,avg_price,poi_star,longitude_poi,latitude_poi,distance
count,192000.00000,192000.00000,192000,191997.00000,191997.00000,191997,192000.00000,192000.00000,191914,177738.00000,...,191997.00000,192000.00000,192000.00000,192000.00000,192000.00000,191993.00000,191916.00000,192000.00000,192000.00000,192000.00000
unique,nan,nan,1,nan,nan,53964,nan,nan,13,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
top,nan,nan,2019-05-24,nan,nan,17:31:07,nan,nan,ANDROID,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
freq,nan,nan,192000,nan,nan,19,nan,nan,113785,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
mean,9264012196760377344.00000,9227012351313641472.00000,NaN,9228547745081667584.00000,297.28510,NaN,31.29658,113.52134,NaN,0.41648,...,1.82684,225.92268,443.81416,1088.54853,13388.74947,80.26317,44.37211,113.52783,31.29958,954.35981
std,5268318366026227712.00000,5330354692299018240.00000,NaN,5326838760505930752.00000,38324.72048,NaN,6.28639,7.08229,NaN,0.49298,...,0.99297,12.69359,651.78327,975.51403,10943.51506,246.80755,6.48042,6.83354,6.34942,2401.69530
min,1015769069232803.00000,1746252198753.00000,NaN,46993148784627.00000,1.00000,NaN,-40.61593,-123.27593,NaN,0.00000,...,0.00000,3.00000,10.00000,8.00000,5.00000,0.00000,0.00000,75.15370,17.76474,0.05200
25%,4781846136635040768.00000,4604571799849832448.00000,NaN,4606576224788310016.00000,1.00000,NaN,27.25724,111.70764,NaN,0.00000,...,1.00000,226.00000,201.00000,153.00000,4804.00000,45.00000,40.00000,111.59408,26.42478,77.04975
50%,9282795332024958976.00000,9238522345506439168.00000,NaN,9247145681530705920.00000,1.00000,NaN,30.89952,113.52134,NaN,0.00000,...,1.00000,226.00000,229.00000,383.00000,13305.00000,68.00000,46.00000,113.54299,30.82119,191.17000
75%,13781640347474020352.00000,13854574578587185152.00000,NaN,13847680929835655168.00000,1.00000,NaN,35.71931,118.40500,NaN,1.00000,...,3.00000,226.00000,315.00000,2032.00000,19455.00000,89.00000,50.00000,118.50223,35.93822,563.78725
max,18446645066501654528.00000,18446480806651654144.00000,NaN,18446722357560956928.00000,8389617.00000,NaN,59.48340,150.38660,NaN,1.00000,...,3.00000,1853.00000,2413.00000,2547.00000,37662.00000,19415.00000,50.00000,130.34367,49.14874,19900.45300

In [17]:
test_df.drop(['request_id', 'uuid', 'poi_id'], axis = 1, inplace=True)
print(test_df.shape)

(192000, 18)

In [18]:
def change_data_type(x):
    train_df[x] = train_df[x].astype('category')
    test_df[x] = test_df[x].astype('category')

In [19]:
# change_data_type('time')
# change_data_type('request_time')
change_data_type('device_type')
train_df.drop(['time', 'request_time'], axis = 1, inplace=True)
test_df.drop(['time', 'request_time'], axis = 1, inplace=True)

In [81]:
n_splits = 5
random_state = 2000
# np.random.seed(random_state)
splits = list(StratifiedKFold(n_splits=n_splits, shuffle=True, random_state=random_state).split(train_df, train_target))

cols = list(train_df.columns)
feature_importance_df = pd.DataFrame()
oof = np.zeros(len(train_df))
predictions = np.zeros(len(test_df))

In [29]:
train_df['device_type'].value_counts()

ANDROID          2397828
IPHONE           1634815
WEIXINPROGRAM      28298
TOUCH              12067
IPAD                6278
WANDIE              2672
(NONE)               221
ORGANIC              203
WAP                   92
REFERRAL              79
LITE                   6
WECHAT                 4
IOSWEB                 3
ANDROIDWEB             3
MT                     1
DSPPC                  1
WAP?                   1
(NOT%20SET)            1
Name: device_type, dtype: int64

In [35]:
train_df.loc[train_df['device_type'] == 'WAP?', ['device_type']] = 'WAP'

In [38]:
train_df['device_type'].value_counts().index

CategoricalIndex(['ANDROID', 'IPHONE', 'WEIXINPROGRAM', 'TOUCH', 'IPAD',
                  'WANDIE', '(NONE)', 'ORGANIC', 'WAP', 'REFERRAL', 'LITE',
                  'WECHAT', 'IOSWEB', 'ANDROIDWEB', 'MT', 'DSPPC',
                  '(NOT%20SET)', 'WAP?'],
                 categories=['(NONE)', '(NOT%20SET)', 'ANDROID', 'ANDROIDWEB', 'DSPPC', 'IOSWEB', 'IPAD', 'IPHONE', ...], ordered=False, dtype='category')

In [50]:
train_df['device_type'].fillna('(NONE)', inplace = True)

test_df['device_type'].fillna('(NONE)', inplace = True)

In [52]:
test_df['device_type'].value_counts()

ANDROID          113785
IPHONE            75876
WEIXINPROGRAM      1374
TOUCH               492
IPAD                218
WANDIE              134
(NONE)               93
ORGANIC              12
WAP                   7
REFERRAL              4
UNKNOWN               2
LITE                  2
(NOT%20SET)           1
Name: device_type, dtype: int64

In [53]:
test_df.loc[test_df['device_type'] == 'UNKNOWN', ['device_type']] = '(NONE)'

In [58]:
le = LabelEncoder()
le.fit(['ANDROID', 'IPHONE', 'WEIXINPROGRAM', 'TOUCH', 'IPAD',
                  'WANDIE', '(NONE)', 'ORGANIC', 'WAP', 'REFERRAL', 'LITE',
                  'WECHAT', 'IOSWEB', 'ANDROIDWEB', 'MT', 'DSPPC',
                  '(NOT%20SET)', ])
train_df['device_type'] = le.transform(train_df['device_type'])
test_df['device_type'] = le.transform(test_df['device_type'])

In [63]:
train_df['device_type'].value_counts()

2     2397828
7     1634815
16      28298
12      12067
6        6278
13       2672
0        1877
10        203
14         93
11         79
8           6
15          4
5           3
3           3
9           1
4           1
1           1
Name: device_type, dtype: int64

In [59]:
train_df.columns

Index(['request_cate_id', 'latitude_req', 'longitude_req', 'device_type',
       'gender', 'age', 'job', 'cate_level1', 'cate_level2', 'cate_level3',
       'area_id', 'avg_price', 'poi_star', 'longitude_poi', 'latitude_poi',
       'distance'],
      dtype='object')

In [ ]:
for i, (train_idx, valid_idx) in enumerate(splits):
    print('Folder', i)
    x_tr, y_tr = train_df.iloc[train_idx], train_target.iloc[train_idx]
    x_valid, y_valid = train_df.iloc[valid_idx], train_target.iloc[valid_idx]
    
    # x_tr, y_tr = augment(x_tr, y_tr, cols)
    num_round = 200000  
    clf = cat.CatBoostClassifier(iterations=num_round, depth=5,\
                                 learning_rate=0.01, verbose=1000, \
                                 loss_function='Logloss', eval_metric='AUC', \
                                early_stopping_rounds=4000, random_seed=random_state, \
                                task_type='GPU', devices='0',\
                                 bootstrap_type='Poisson', subsample=0.99)
    
    # cat_features = [0,3,4,5,6,7,8,9,10]
    clf.fit(x_tr, y_tr, eval_set=cat.Pool(x_valid, y_valid))
    
    print(f'best score {clf.get_best_score()}')
    print(f'best_iteration {clf.get_best_iteration()}')
    oof[valid_idx] = clf.predict_proba(x_valid)[:, 1]
    predictions += clf.predict_proba(test_df)[:, 1] / n_splits
    del x_tr
    del y_tr
    
print(metrics.roc_auc_score(train_target.values, oof))

Folder 0
0:	learn: 0.5449741	test: 0.5459926	best: 0.5459926 (0)	total: 41.6ms	remaining: 2h 18m 48s
1000:	learn: 0.6342542	test: 0.6314708	best: 0.6314708 (1000)	total: 42.8s	remaining: 2h 21m 41s
2000:	learn: 0.6397316	test: 0.6348179	best: 0.6348192 (1999)	total: 1m 25s	remaining: 2h 20m 53s
3000:	learn: 0.6434036	test: 0.6364992	best: 0.6365023 (2998)	total: 2m 8s	remaining: 2h 20m 17s
4000:	learn: 0.6463072	test: 0.6373951	best: 0.6373954 (3998)	total: 2m 50s	remaining: 2h 19m 36s
5000:	learn: 0.6489049	test: 0.6380996	best: 0.6381001 (4997)	total: 3m 33s	remaining: 2h 18m 58s
6000:	learn: 0.6512462	test: 0.6385928	best: 0.6385928 (6000)	total: 4m 16s	remaining: 2h 18m 16s
7000:	learn: 0.6533557	test: 0.6389212	best: 0.6389219 (6998)	total: 4m 59s	remaining: 2h 17m 36s
8000:	learn: 0.6553465	test: 0.6392301	best: 0.6392301 (8000)	total: 5m 42s	remaining: 2h 16m 54s
9000:	learn: 0.6572298	test: 0.6395029	best: 0.6395036 (8999)	total: 6m 25s	remaining: 2h 16m 13s
10000:	learn: 0.6590307	test: 0.6396439	best: 0.6396504 (9961)	total: 7m 7s	remaining: 2h 15m 29s
11000:	learn: 0.6606978	test: 0.6397599	best: 0.6397629 (10935)	total: 7m 50s	remaining: 2h 14m 46s
12000:	learn: 0.6623115	test: 0.6398928	best: 0.6398955 (11985)	total: 8m 33s	remaining: 2h 14m 4s
13000:	learn: 0.6639515	test: 0.6400135	best: 0.6400186 (12979)	total: 9m 16s	remaining: 2h 13m 22s
14000:	learn: 0.6654704	test: 0.6400308	best: 0.6400363 (13992)	total: 9m 59s	remaining: 2h 12m 40s
15000:	learn: 0.6668995	test: 0.6400826	best: 0.6400832 (14988)	total: 10m 42s	remaining: 2h 11m 58s
16000:	learn: 0.6683397	test: 0.6401621	best: 0.6401621 (16000)	total: 11m 25s	remaining: 2h 11m 18s
17000:	learn: 0.6697073	test: 0.6401670	best: 0.6401803 (16158)	total: 12m 8s	remaining: 2h 10m 37s
18000:	learn: 0.6710281	test: 0.6401578	best: 0.6401803 (16158)	total: 12m 51s	remaining: 2h 9m 55s
19000:	learn: 0.6723171	test: 0.6401819	best: 0.6402007 (18848)	total: 13m 34s	remaining: 2h 9m 14s
20000:	learn: 0.6736084	test: 0.6401610	best: 0.6402007 (18848)	total: 14m 16s	remaining: 2h 8m 32s
21000:	learn: 0.6748840	test: 0.6401644	best: 0.6402007 (18848)	total: 14m 59s	remaining: 2h 7m 50s
22000:	learn: 0.6761013	test: 0.6401641	best: 0.6402007 (18848)	total: 15m 42s	remaining: 2h 7m 7s
bestTest = 0.6402007043
bestIteration = 18848
Shrink model to first 18849 iterations.
best score {'learn': {'Logloss': 0.10122273314759855, 'AUC': 0.6771301627159119}, 'validation': {'Logloss': 0.10313961222494815, 'AUC': 0.6402007043361664}}
best_iteration 18848
Folder 1
0:	learn: 0.5507183	test: 0.5492823	best: 0.5492823 (0)	total: 41.4ms	remaining: 2h 17m 53s
1000:	learn: 0.6348875	test: 0.6310953	best: 0.6310953 (1000)	total: 42.8s	remaining: 2h 21m 42s
2000:	learn: 0.6401998	test: 0.6337210	best: 0.6337224 (1999)	total: 1m 25s	remaining: 2h 20m 39s
3000:	learn: 0.6438460	test: 0.6350835	best: 0.6350835 (2999)	total: 2m 7s	remaining: 2h 19m 55s
4000:	learn: 0.6467398	test: 0.6359609	best: 0.6359617 (3999)	total: 2m 50s	remaining: 2h 19m 15s
5000:	learn: 0.6492239	test: 0.6364908	best: 0.6364908 (5000)	total: 3m 33s	remaining: 2h 18m 35s
6000:	learn: 0.6515344	test: 0.6369047	best: 0.6369091 (5992)	total: 4m 15s	remaining: 2h 17m 55s
7000:	learn: 0.6536129	test: 0.6372375	best: 0.6372375 (6979)	total: 4m 58s	remaining: 2h 17m 10s
8000:	learn: 0.6556073	test: 0.6374390	best: 0.6374408 (7998)	total: 5m 41s	remaining: 2h 16m 28s
9000:	learn: 0.6574332	test: 0.6376370	best: 0.6376370 (9000)	total: 6m 23s	remaining: 2h 15m 44s
10000:	learn: 0.6592392	test: 0.6377876	best: 0.6377887 (9992)	total: 7m 6s	remaining: 2h 15m
11000:	learn: 0.6609606	test: 0.6379004	best: 0.6379015 (10999)	total: 7m 49s	remaining: 2h 14m 17s
12000:	learn: 0.6625786	test: 0.6379769	best: 0.6379802 (11951)	total: 8m 31s	remaining: 2h 13m 35s
13000:	learn: 0.6641305	test: 0.6380713	best: 0.6380713 (13000)	total: 9m 14s	remaining: 2h 12m 52s
14000:	learn: 0.6656720	test: 0.6381413	best: 0.6381471 (13917)	total: 9m 56s	remaining: 2h 12m 9s
15000:	learn: 0.6671107	test: 0.6382069	best: 0.6382092 (14975)	total: 10m 39s	remaining: 2h 11m 28s
16000:	learn: 0.6684887	test: 0.6382618	best: 0.6382759 (15686)	total: 11m 22s	remaining: 2h 10m 45s
17000:	learn: 0.6698821	test: 0.6383048	best: 0.6383171 (16744)	total: 12m 4s	remaining: 2h 10m 3s
18000:	learn: 0.6712269	test: 0.6383631	best: 0.6383680 (17982)	total: 12m 47s	remaining: 2h 9m 21s
19000:	learn: 0.6725236	test: 0.6383554	best: 0.6383685 (18093)	total: 13m 30s	remaining: 2h 8m 39s
20000:	learn: 0.6738441	test: 0.6383921	best: 0.6383977 (19984)	total: 14m 13s	remaining: 2h 7m 57s
21000:	learn: 0.6750907	test: 0.6384086	best: 0.6384246 (20753)	total: 14m 55s	remaining: 2h 7m 14s
22000:	learn: 0.6763200	test: 0.6384237	best: 0.6384405 (21779)	total: 15m 38s	remaining: 2h 6m 31s
23000:	learn: 0.6775365	test: 0.6383672	best: 0.6384405 (21779)	total: 16m 21s	remaining: 2h 5m 49s
24000:	learn: 0.6787295	test: 0.6383408	best: 0.6384405 (21779)	total: 17m 3s	remaining: 2h 5m 7s
25000:	learn: 0.6798987	test: 0.6383362	best: 0.6384405 (21779)	total: 17m 46s	remaining: 2h 4m 25s
bestTest = 0.6384405494
bestIteration = 21779
Shrink model to first 21780 iterations.
best score {'learn': {'Logloss': 0.1010198375886757, 'AUC': 0.6807671785354614}, 'validation': {'Logloss': 0.10324151905622357, 'AUC': 0.6384405493736267}}
best_iteration 21779
Folder 2
0:	learn: 0.5451026	test: 0.5454675	best: 0.5454675 (0)	total: 41.6ms	remaining: 2h 18m 35s
1000:	learn: 0.6343962	test: 0.6326503	best: 0.6326503 (1000)	total: 43s	remaining: 2h 22m 27s
2000:	learn: 0.6399875	test: 0.6358212	best: 0.6358212 (2000)	total: 1m 25s	remaining: 2h 21m 29s
3000:	learn: 0.6435839	test: 0.6372778	best: 0.6372778 (3000)	total: 2m 8s	remaining: 2h 20m 43s
4000:	learn: 0.6465808	test: 0.6381154	best: 0.6381165 (3989)	total: 2m 51s	remaining: 2h 19m 56s
5000:	learn: 0.6491360	test: 0.6387945	best: 0.6387945 (5000)	total: 3m 34s	remaining: 2h 19m 11s
6000:	learn: 0.6514789	test: 0.6392624	best: 0.6392626 (5999)	total: 4m 17s	remaining: 2h 18m 29s
7000:	learn: 0.6535772	test: 0.6396314	best: 0.6396332 (6997)	total: 4m 59s	remaining: 2h 17m 49s
8000:	learn: 0.6555525	test: 0.6399150	best: 0.6399151 (7999)	total: 5m 42s	remaining: 2h 17m 7s
9000:	learn: 0.6574120	test: 0.6401190	best: 0.6401212 (8944)	total: 6m 25s	remaining: 2h 16m 25s
10000:	learn: 0.6591222	test: 0.6402771	best: 0.6402851 (9811)	total: 7m 8s	remaining: 2h 15m 42s
11000:	learn: 0.6608157	test: 0.6403878	best: 0.6403887 (10996)	total: 7m 51s	remaining: 2h 14m 59s
12000:	learn: 0.6623895	test: 0.6405612	best: 0.6405612 (12000)	total: 8m 34s	remaining: 2h 14m 18s
13000:	learn: 0.6639190	test: 0.6406209	best: 0.6406281 (12907)	total: 9m 17s	remaining: 2h 13m 36s
14000:	learn: 0.6654112	test: 0.6406510	best: 0.6406534 (13983)	total: 10m	remaining: 2h 12m 53s
15000:	learn: 0.6668582	test: 0.6406781	best: 0.6406865 (14985)	total: 10m 43s	remaining: 2h 12m 10s
16000:	learn: 0.6682519	test: 0.6407283	best: 0.6407349 (15731)	total: 11m 25s	remaining: 2h 11m 28s
17000:	learn: 0.6696428	test: 0.6407581	best: 0.6407602 (16988)	total: 12m 8s	remaining: 2h 10m 46s
18000:	learn: 0.6710011	test: 0.6408079	best: 0.6408127 (17945)	total: 12m 51s	remaining: 2h 10m 4s
19000:	learn: 0.6723105	test: 0.6408392	best: 0.6408406 (18992)	total: 13m 34s	remaining: 2h 9m 21s
20000:	learn: 0.6735543	test: 0.6408087	best: 0.6408473 (19173)	total: 14m 17s	remaining: 2h 8m 38s
21000:	learn: 0.6747947	test: 0.6407533	best: 0.6408473 (19173)	total: 15m	remaining: 2h 7m 56s
22000:	learn: 0.6760158	test: 0.6407571	best: 0.6408473 (19173)	total: 15m 43s	remaining: 2h 7m 13s
23000:	learn: 0.6772506	test: 0.6407333	best: 0.6408473 (19173)	total: 16m 26s	remaining: 2h 6m 31s
bestTest = 0.6408473253
bestIteration = 19173
Shrink model to first 19174 iterations.
best score {'learn': {'Logloss': 0.10120066847076085, 'AUC': 0.6774597465991974}, 'validation': {'Logloss': 0.10315176835658128, 'AUC': 0.6408473253250122}}
best_iteration 19173
Folder 3
0:	learn: 0.5449372	test: 0.5458690	best: 0.5458690 (0)	total: 41.9ms	remaining: 2h 19m 30s
1000:	learn: 0.6343659	test: 0.6328018	best: 0.6328032 (999)	total: 42.9s	remaining: 2h 22m 10s

2000:	learn: 0.6397686	test: 0.6359541	best: 0.6359541 (2000)	total: 1m 25s	remaining: 2h 21m 17s
3000:	learn: 0.6433868	test: 0.6375438	best: 0.6375438 (3000)	total: 2m 8s	remaining: 2h 20m 39s

In [71]:
submission = pd.DataFrame({'ID': test_id, 'action': predictions})
oof = pd.DataFrame({'action': oof})

In [77]:
submission.to_csv('./catboost_oof_test_63954.csv', index = False)

In [76]:
oof.to_csv('./catboost_oof_train_63954.csv')

In [74]:
submission.shape

(192000, 2)

In [75]:
submission.describe()

                ID       action
count 192000.00000 192000.00000
mean   95999.50000      0.02240
std    55425.77018      0.01085
min        0.00000      0.00159
25%    47999.75000      0.01516
50%    95999.50000      0.02121
75%   143999.25000      0.02820
max   191999.00000      0.19051

In [80]:
submission.isnull().sum()

ID        0
action    0
dtype: int64